{% extends 'base.html' %}
{% load core_extras %}

{% block title %}Депозитни ўчириш{% endblock %}
{% block page_title %}Депозитни ўчириш{% endblock %}

{% block content %}
<section class="panel form-panel">
  <h3>Депозитни ўчириш</h3>
  <p>{{ object.amount|som }} депозитни ўчирмоқчимисиз?</p>
  <form method="post" class="form-actions">
    {% csrf_token %}
    <a href="{% url 'shop-detail' object.shop.pk %}" class="btn btn-light">Йўқ</a>
    <button class="btn btn-danger" type="submit">Ҳа, ўчириш</button>
  </form>
</section>
{% endblock %}
