{% extends 'base.html' %}

{% block title %}Буюртмани ўчириш{% endblock %}
{% block page_title %}Буюртмани ўчириш{% endblock %}

{% block content %}
<section class="panel form-panel">
  <h3>Буюртмани ўчириш</h3>
  <p>#{{ object.id }} буюртмани ўчирмоқчимисиз?</p>
  <form method="post" class="form-actions">
    {% csrf_token %}
    <a href="{% url 'order-list' %}" class="btn btn-light">Йўқ</a>
    <button type="submit" class="btn btn-danger">Ҳа, ўчириш</button>
  </form>
</section>
{% endblock %}
