{% extends 'base.html' %}

{% block title %}Mahsulotni o'chirish{% endblock %}
{% block page_title %}Mahsulotni o'chirish{% endblock %}

{% block content %}
<section class="panel form-panel">
  <h3>Mahsulotni o'chirish</h3>
  <p>"{{ object.name }}" mahsulotini o'chirmoqchimisiz?</p>
  <form method="post" class="form-actions">
    {% csrf_token %}
    <a href="{% url 'product-list' %}" class="btn btn-light">Yo'q</a>
    <button type="submit" class="btn btn-danger">Ha, o'chirish</button>
  </form>
</section>
{% endblock %}
