{% extends 'base.html' %}

{% block title %}Маҳсулот формаси{% endblock %}
{% block page_title %}Маҳсулот формаси{% endblock %}

{% block content %}
<section class="panel form-panel">
  <h3>{% if object %}Маҳсулотни таҳрирлаш{% else %}Янги маҳсулот{% endif %}</h3>
  <form method="post" class="grid-form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
      <label for="id_name">Маҳсулот номи</label>
      {{ form.name }}
      {{ form.name.errors }}
    </div>
    <div>
      <label for="id_price">Нархи (сўм)</label>
      {{ form.price }}
      {{ form.price.errors }}
    </div>
    <div class="form-actions">
      <a href="{% url 'product-list' %}" class="btn btn-light">Бекор қилиш</a>
      <button type="submit" class="btn btn-primary">Сақлаш</button>
    </div>
  </form>
</section>
{% endblock %}
